#localize-widget {
    display: none !important;
}

md-menu.abl-menu-lang {
    font-size: 11px;
}

md-menu.abl-menu-lang .md-button span.flags {
    width: 16px;
    height: 11px;
    display: inline-block;
    margin-right: 3px;
    background: #fff scroll no-repeat url('https://assets.ablsolution.com/images/flags.png') 0 0;
}

md-menu.abl-menu-lang .md-button.en span.flags {
    background-position: -80px -44px;
}

md-menu.abl-menu-lang .md-button.es span.flags {
    background-position: -192px -33px;
}

md-menu.abl-menu-lang .md-button.es-LA span.flags {
    background-position: -192px -33px;
}

md-menu.abl-menu-lang .md-button.fr span.flags {
    background-position: -48px -44px;
}

md-menu-content.language-menu {
    padding: 0px;
}

md-menu-item.language-item {
    border-bottom: 1px solid #ddd;
}

md-menu.abl-menu-lang .md-button span {
    font-size: 12px !important;
    padding-top: 1px;
    display: inline-block;
    vertical-align: middle;
}

@media screen and (max-width: 599px) {
    md-menu.abl-menu-lang button.md-button {
        min-width: 50px !important
    }
    md-menu.abl-menu-lang span.name {
        display: none !important
    }
}